<div class="content row" style="<%='margin-top: 72px' if user_signed_in?%>">
  <div class="col-lg-12" style="text-align: left">
    <h1 class="mtn edit-heading" style="float: left; max-width: 90%">Editing - <%=@camp.name%></h1>
    <%= link_to 'Cancel', all_camps_path, class:"btn btn-sm btn-danger mts mll", style:"color: white; float: left" %>
  </div>

  <div class="col-lg-12">
    <%= render 'form' %>
  </div>
</div>
