<%=javascript_include_tag 'jquery.usmap'%>

<div id="example_map" style="width: 300px; height: 300px;"></div>

<script>
  $(document).ready(function() {
      $('#example_map').usmap({});
  });
</script>
