/* =============================================================================
  CONTENT
============================================================================= */
body {
  background-color: #1db0bc;
}

body, h1, h2, h3, h4, h5, h6, .btn {
  font-family: 'Montserrat', sans-serif;
}

.full-width {
   width: 100%;
   margin-left: auto;.
   margin-right: auto;
   max-width: initial;
}

.gap {
  height: 15px;
}

.fixed {
    position: fixed;
    top: 20px;
}

.container.results, .container.show {
  margin-top: 200px;
}

a:hover {
  color:#e1da36;
  background: transparent;
}

@media (max-width: 767px) {
  .container.results, .container.show {
    margin-top: 100px;
  }
}

/* =============================================================================
  Search Page
============================================================================= */

.content {
  position: relative;
  /*top: 30%;*/
  z-index: 3;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

h1 {
  /*font-family: 'Fjalla One', sans-serif;*/
  color: #007bbc;
  text-transform: capitalize;
  font-weight: bold;
}

input {
  border: 2px solid #385273;
  font-size: 25px;
  text-align: center;
  background: rgba(255,255,255,.5);
  border-radius: 15px;
  padding: 10px
}

.btn-success {
  background: #1cb1bc;
  border-color: #148088;
}

.btn-success:focus, .btn-success:hover, .btn-success:active:hover {
  background: #1cb1bc;
}

@media (max-width: 767px) {
  .search-prompt {
    font-size: 26px;
  }
  input {
    font-size: 15px;
  }
  #pccca_map, #state_display {
    display: none;
  }
}

@media (min-width: 768px) {
  #pccca_state_select {
    display: none;
  }
  input[type=submit]{
    display: none;
  }
}

/* =============================================================================
  SVG
============================================================================= */

#pccca_map {
  margin-top: -52px;
  margin: 0 auto;
}

svg path {
  transform: translate(-780px, 5px);
  -webkit-transform: translate(-780px, 5px);
}

/* =============================================================================
  Results Page
============================================================================= */

.top-bar {
  background: white;
  height: 150px;
}

.top-bar img {
  width: auto;
  max-height: 130px;
  margin: 10px 0 0 -10px;
}

.top-bar .menu {
  text-align: right;
  padding-top: 43px;
}

#ReSearchForm input {
  background: white;
  text-align: left;
  font-size: 20px;
}

#ReSearchForm .btn {
  margin-top: 3px;
  font-size: 14px;
  box-shadow: none;
  color: #000;
}

#ReSearchForm #pccca_map {
  margin-top: 0;
  padding-left: 0;
}

#ReSearchForm .btn:hover {
  transform: none;
}

.infowindow-link {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .top-bar {
    height: 85px;
  }

  .top-bar img {
    max-width: 105px;
    max-height: 65px;
  }

  .top-bar h3 {
    font-size: 15px;
  }

  .top-bar .menu {
    padding-top: 11px;
  }

  .container.results, .container.show {
    margin-top: 100px;
  }
}

/*======= Cards ===========*/
.results-text {
  color: white;
  margin-top: 0;
  margin-bottom: 30px
}

.card-container {
  background: #fff;
  box-shadow: 3px 3px 5px #000;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-container.no-image {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#34a4ca+0,59d7dd+28,a8f2f0+59,d0f8ef+84,d6f6e1+100 */
  background: #34a4ca; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #8fb8ee 0%, #cbe2f4 40%, #dbe5eb 63%, #f9d3b8 83%, #e0b2a3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #8fb8ee 0%, #cbe2f4 40%, #dbe5eb 63%, #f9d3b8 83%, #e0b2a3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #8fb8ee 0%, #cbe2f4 40%, #dbe5eb 63%, #f9d3b8 83%, #e0b2a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fb8ee', endColorstr='#e0b2a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.card-container img {
  position: absolute;
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
}

.card-overlay {
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: .4;
}

.city, .name {
  position: relative;
  z-index: 2;
  color: #385273;
  padding: 10px 15px;
  text-shadow: 0 0 10px white;
}

.name {
  margin-bottom: 7px;
  height: 100px;
  overflow: hidden;
}

.details {
  display: table-cell;
  position: relative;
  bottom: 0;
  padding: 15px;
  font-size: 1.3em;
  color: #6FE4DA !important;
  background: #B3001B;
  vertical-align: middle;
}

.details.results {
  display: block;
  background-color: #B3001B;
}

.details.results:hover {
  text-decoration: none;
  background-color: #730011;
}

/*======= Map ===========*/
/*.map {
  overflow: hidden;
  padding:0 15px;
}*/

#map
{
  width:400px;
  height:400px;
  float:left;
  margin-bottom:0.93em;
}

@media (max-width: 767px) {
  .results-text {
    padding-left: 15px;
  }

  .card-overlay {
    opacity: .5;
  }

  #map {
    display: none;
  }
}

/* =============================================================================
  Camp Listing Page
============================================================================= */

.camp-container {
  background: white;
  padding-bottom: 15px;
}

.contact-info {
  padding-bottom: 15px;
}

.website {
  /*position: inherit;
  display: initial;*/
  display: table;
  text-align: center;
  height: 200px;
}

.website .details:hover {
  color: #f2c84b;
  text-decoration: none;
  background-color: #883505;
}

.pccca {
  padding-top: 15px;
}

.pccca-link {
  float: right;
}

a.pccca-link:hover {
  background-color: transparent;
}

.camp-photo-wrapper {
  min-height: 200px
}

.camp-photo {
  background-size: cover;
  background-position: center;
  min-height: 200px
}

/*.camp-images img {
  width: 100%;
}*/

a.details:visited, a.details.results:visited {
  color: #f2c84b;
}

@media (max-width: 767px) {
  .camp-title {
    font-size: 20px;
  }
  .pccca {
    width: 100%;
  }
  .camp-photo-wrapper {
    margin-bottom: 10px;
  }
}


/* =============================================================================
  VIDEO
============================================================================= */

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('campfire.png') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}


/*.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}*/

/* =============================================================================
  Overlay
============================================================================= */

.overlay {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 2;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,.7);
}
